/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #ff8dcb;
  --heading-text-color: #000028;
  --main-text-color: #353430;
  --title-color: #ffc2e6;
  --bg-img: url(../images/cover-image-light.png);
}