/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  max-inline-size: 1024px;
  font-family: var(--main-font-family);
  color: var(--main-text-color);
  font-weight: 400;
  font-size: var(--main-font-size);
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h2,
h3 {
  font-size: var(--main-font-size);
}

.header {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  padding: var(--default-padding);
  position: relative;
}

.header::after {
  content: '';
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  inset-block-start: 20px;
  inset-inline-end: 20px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.header::before {
  content: '';
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  inset-block-end: 20px;
  inset-inline-start: 20px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  gap: 0 10px;
  justify-content: center;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  text-transform: lowercase;
  font-size: inherit;
  padding: 0 13px;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  color: var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}
.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
  outline-offset: 2px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__theme-menu {
  position: relative;
}

.rec {
  position: absolute;
  top: 1px;
  right: 0;
  font-size: var(--main-font-size);
  color: var(--accent-color);
}

.rec::after {
  content: ' ';
  display: inline-block;
  background-color: var(--accent-color);
  box-shadow: 0 0 5px 2px var(--accent-color);
  margin-inline-start: 10px;
  margin-inline-end: 7px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.main-heading {
  color: var(--title-color, #db00ff);
  text-shadow: 4px 4px 0px var(--accent-color, #ff0070);
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  margin-top: 275px;
  margin-left: -20px;
}

.header__text-block {
  align-self: end;
  color: var(--heading-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 23.4px;
  inline-size: 491px;
  block-size: 71px;
  margin-block-start: 114px;
  font-size: 18px;
  font-style: normal;
}

.main {
  padding-block-start: 60px;
  padding-inline-start: var(--default-padding);
  padding-inline-end: var(--default-padding);
}

.s-box {
  width: 315px;
}

.l-box {
  width: 648px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.main__section {
  display: flex;
  gap: 20px;
  margin-block-end: 59px;
}

.main__section--content-box {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
}

.main__section-title {
  color: var(--accent-color);
  font-weight: 700;
}

.main__section-heading {
  color: var(--heading-text-color);
  background-color: var(--accent-color);
}

.main__section-text {
  padding-block-start: 10px;
  padding-block-end: 20px;
  line-height: 23.5px;
}

.text-link {
  text-shadow: 1px 1px 0px var(--accent-color, #ff0070);
  text-decoration: none;
}

.sub-title {
  margin-block-end: 20px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: end;
    margin-top: 172px;
    gap: 10px;
  }
  .header__theme-menu-item {
    block-size: 26px;
  }

  .header__title {
    margin-top: 173px;
    font-size: 120px;
  }

  .header__text-block {
    inline-size: 364px;
    block-size: 117px;
    margin-block-start: 162px;
  }

  .s-box {
    width: 236px;
  }

  .l-box {
    width: 472px;
  }

  .column {
    display: block;
  }

  .article {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .header {
    padding: 10px;
  }

  .header::after {
    inset-block-start: 10px;
    inset-inline-end: 10px;
  }

  .header::before {
    inset-block-end: 10px;
    inset-inline-start: 10px;
  }

  .header__theme-menu-list {
    margin-top: 65px;
  }
  .header__title {
    margin-top: 65px;
    margin-left: 0;
    font-size: 116px;
  }

  .header__text-block {
    inline-size: 355px;
    margin-block-start: 58px;
  }

  .main__section {
    flex-direction: column;
    margin-block-end: 27px;
  }

  .main__section-text {
    width: 355px;
  }

  .main__section-heading {
    width: 355px;
  }

  .main {
    margin-block-start: 40px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    padding-block-start: 0;
    
  }

  .s-box {
    width: 100%;
  }
}
